<?xml version="1.0"?>
<config>
	<tabs>
        <Persomi translate="label">
            <label>Persomi</label>
            <sort_order>100</sort_order>
        </Persomi>
    </tabs>

    <sections>
        <persomi_configuration translate="label">
            <label>Configuration</label>
            <tab>Persomi</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <Persomi_Tag_Settings translate="label">
                    <label>Persomi Tag Configuration</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <Persomi_Tag_Enabled translate="label">
                            <label>Enable Script Tag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>persomi/enabled</config_path>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </Persomi_Tag_Enabled>
                        <Persomi_App_Id translate="label">
                            <label>App ID</label>
                            <frontend_type>text</frontend_type>
                            <config_path>persomi/app_id</config_path>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <Persomi_Tag_Enabled>1</Persomi_Tag_Enabled>
                            </depends>
                        </Persomi_App_Id>
                    </fields>
                    <expanded>1</expanded>
                </Persomi_Tag_Settings>
            </groups>
        </persomi_configuration>
    </sections>
</config>
